* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  margin:10px 0px 5px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 20px 30px;
}

.menu a {
  color: #2d2d2d;
  text-decoration: none;
  margin-right: 20px;
  font-size: .9rem;
}

.menu a:hover {
  text-decoration: underline;
}

.search-wrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-logo img {
  width: 275px;
}

.search-bar {
  margin: 30px 0;
  position: relative;
  width: 100%;
}

.search-bar input {
  height: 45px;
  width: 100%;
  border: 1px solid #d0d0d0;
  border-radius: 100px;
  padding: 0 100px 0px 50px;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(136, 136, 136, 0);
  font-size: 18px;
  transition: box-shadow .3s;
}

.search-bar input:hover{
  box-shadow: 0 0 12px -4px #888888;
}

.search-bar input:focus {
  box-shadow: 1 1 15px -4px #888888;
}

.search-bar .search-icon {
  position: absolute;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  top: 0;
  display: flex;
  font-size: 20px;
  color: #888888;
}

.search-bar .search-icon.right {
  right: 0;
}

.search-info {
  font-size: .8rem;
}

.search-info a {
  color: #3f50b5;
  text-decoration: none;
}

.search-info a:hover {
  text-decoration: underline;
}

.search-buttons {
  display: flex;
  margin-bottom: 30px;
}

.search-buttons .a {
  text-decoration: none;
  margin-right: 15px;
  background-color: #ecececaa;
  color: black;
  padding: 7px 12px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  font-size:.9rem;
  color:#665544;
  cursor:pointer;
}

.search-buttons .a:last-child {
  margin-right: 0;
}

.search-buttons .a:hover {
  border: 1px solid #cccccc;
  color:#111111;
  background: #ecececdd;
}

.bottom-bar {
  display: flex;
  align-items: flex-end;
  min-height:75px;
  background-color: #ecececaa;
  border-top: 1px solid #d4d4d4aa;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bar{
  display:flex;
  align-items: flex-end;
}

.bar .menu a{
  font-size:.9rem;
  color:#777777;
}


.fa-search{
  transform: rotateY(180deg);
}

.search-icon.right i:first-child{
  margin-right:20px;  
  color:#000;  
}

.search-icon.right i{
  font-weight:bold;
  font-size:1.55rem;
  cursor:pointer;
}

.search-icon.right button{
  width:45px;
  height:45px;
  border:none;
  outline:none;
  background: transparent;
  margin-right:60px;
}

.search-icon.right button i{
  color:#3322ff;  
}

.search-icon.right button:hover i{
  color:#0000ff;  
}


@media screen and (max-width: 635px) {
  .content img{
    transform: scale(.9);
  }

  .search-wrapper{
    width:90%;
  }
}


@media screen and (max-width: 500px) {
  .bottom-bar a{
    font-size:10px;
  }
}
/*
CSS @property and the New Style
https://ryanmulligan.dev/blog/css-property-new-style/
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap");

:root {
  --shiny-cta-bg: #000000;
  --shiny-cta-bg-subtle: #1a1818;
  --shiny-cta-fg: #ffffff;
  --shiny-cta-highlight: blue;
  --shiny-cta-highlight-subtle: #8484ff;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-angle-offset {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-percent {
  syntax: "<percentage>";
  initial-value: 5%;
  inherits: false;
}

@property --gradient-shine {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

.shiny-cta {
  --animation: gradient-angle linear infinite;
  --duration: 3s;
  --shadow-size: 2px;
  isolation: isolate;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline-offset: 4px;
  padding: 1.25rem 2.5rem;
  font-family: inherit;
  font-size: 1.125rem;
  line-height: 1.2;
  border: 1px solid transparent;
  border-radius: 360px;
  color: var(--shiny-cta-fg);
  background: linear-gradient(var(--shiny-cta-bg), var(--shiny-cta-bg))
      padding-box,
    conic-gradient(
        from calc(var(--gradient-angle) - var(--gradient-angle-offset)),
        transparent,
        var(--shiny-cta-highlight) var(--gradient-percent),
        var(--gradient-shine) calc(var(--gradient-percent) * 2),
        var(--shiny-cta-highlight) calc(var(--gradient-percent) * 3),
        transparent calc(var(--gradient-percent) * 4)
      )
      border-box;
  box-shadow: inset 0 0 0 1px var(--shiny-cta-bg-subtle);

  &::before,
  &::after,
  span::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    translate: -50% -50%;
    z-index: -1;
  }

  &:active {
    translate: 0 1px;
  }
}

/* Dots pattern */
.shiny-cta::before {
  --size: calc(100% - var(--shadow-size) * 3);
  --position: 2px;
  --space: calc(var(--position) * 2);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(
      circle at var(--position) var(--position),
      white calc(var(--position) / 4),
      transparent 0
    )
    padding-box;
  background-size: var(--space) var(--space);
  background-repeat: space;
  mask-image: conic-gradient(
    from calc(var(--gradient-angle) + 45deg),
    black,
    transparent 10% 90%,
    black
  );
  border-radius: inherit;
  opacity: 0.4;
  z-index: -1;
}

/* Inner shimmer */
.shiny-cta::after {
  --animation: shimmer linear infinite;
  width: 100%;
  aspect-ratio: 1;
  background: linear-gradient(
    -50deg,
    transparent,
    var(--shiny-cta-highlight),
    transparent
  );
  mask-image: radial-gradient(circle at bottom, transparent 40%, black);
  opacity: 0.6;
}

.shiny-cta span {
  z-index: 1;

  &::before {
    --size: calc(100% + 1rem);
    width: var(--size);
    height: var(--size);
    box-shadow: inset 0 -1ex 2rem 4px var(--shiny-cta-highlight);
    opacity: 0;
  }
}

/* Animate */
.shiny-cta {
  --transition: 800ms cubic-bezier(0.25, 1, 0.5, 1);
  transition: var(--transition);
  transition-property: --gradient-angle-offset, --gradient-percent,
    --gradient-shine;

  &,
  &::before,
  &::after {
    animation: var(--animation) var(--duration),
      var(--animation) calc(var(--duration) / 0.4) reverse paused;
    animation-composition: add;
  }

  span::before {
    transition: opacity var(--transition);
    animation: calc(var(--duration) * 1.5) breathe linear infinite;
  }
}

.shiny-cta:is(:hover, :focus-visible) {
  --gradient-percent: 20%;
  --gradient-angle-offset: 95deg;
  --gradient-shine: var(--shiny-cta-highlight-subtle);

  &,
  &::before,
  &::after {
    animation-play-state: running;
  }

  span::before {
    opacity: 1;
  }
}

@keyframes gradient-angle {
  to {
    --gradient-angle: 360deg;
  }
}

@keyframes shimmer {
  to {
    rotate: 360deg;
  }
}

@keyframes breathe {
  from,
  to {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
}

html,
body {
  height: 100%;
}
/* From Uiverse.io by vinodjangid07 */ 
.Btn {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.Btn::before {
  position: absolute;
  content: "SUBSCRIBE";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.Btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Btn:active {
  transform: scale(0.95);
}
